# Ambienti virtuali
venv/
env/
.env

# Dati (NON committare dati aziendali)
data/
*.csv
*.xlsx
*.db
*.sqlite
*.png

# Cache di Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
# notebooks
notebooks/*